body{
    margin: 0 80px;
}
.divStyle img{
    width: 50%;
}
.divStyle{
    margin: 5% 6%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    text-align: center;
}
#relatedItems{
    margin-top: 5%;
}
#relatedParent{
    display: none;
}
#detailsParent{
    display: none;
}
.detailsStyle img{
    
    width: 250px;
}
.detailsStyle{
    text-align: center;
}
#showDetails img{
    width: 200px;
}
#searchFood{
    display: none;
}
#singleLetterParent{
    display: none;
}